<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen"/>
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen"/>

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.8.3.min.js"></script>
    <!-- jQuery Configuration -->
    <!--<script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!-- 添加弹出框的jquery插件 -->
    <script type="text/javascript" src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

    <!-- 添加树形结构插件 ztree -->
    <script type="text/javascript" src="resources/widget/zTree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="resources/widget/zTree/zTreeStyle/zTreeStyle.css">

</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox"/></th>
                        <th>编号</th>
                        <th>权限名</th>
                        <th>权限路径</th>
                        <th>父权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="power : ${powers}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${power.id}">Lorem ipsum dolor</td>
                        <td th:text="${power.powerName}"><a href="#" title="title">Sit amet</a></td>
                        <td th:text="${power.powerPath}">Lorem ipsum dolor</td>
                        <td th:text="${power.parentName}">Consectetur time</td>
                        <td>
                            <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit"/></a>
                            <a th:href="|/power/deletePower/${power.id}|"
                               sec:authorize-url="/power/deletePower" title="Delete">&nbsp;<img
                                src="resources/images/icons/cross.png" alt="Delete"/></a>
                            <a href="#" title="Edit Meta">&nbsp;<img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta"/></a>
                        </td>
                    </tr>


                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <!--<select name="dropdown">
                                    <option value="option1">Choose an action...</option>
                                    <option value="option2">Edit</option>
                                    <option value="option3">Delete</option>
                                </select> -->
                                <a sec:authorize-url="/power/addPower" class="mybutton" id="open_dialog">添加权限</a>
                            </div>
                            <!--<div class="pagination">
                                <a href="#" title="First Page">&laquo; First</a><a href="#"
                                                                                   title="Previous Page">&laquo;
                                Previous</a> <a href="#"
                                                class="number" title="1">1</a> <a href="#" class="number"
                                                                                  title="2">2</a> <a href="#"
                                                                                                     class="number current"
                                                                                                     title="3">3</a>
                                <a href="#" class="number" title="4">4</a> <a href="#"
                                                                              title="Next Page">Next &raquo;</a><a
                                    href="#"
                                    title="Last Page">Last &raquo;</a>
                            </div>--> <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->

<script>
    $(function () {

        //弹出添加职工的dialog
        $("#open_dialog").click(function () {
            $("#dialog_div").dialog({
                title: "添加权限",
                width: 400,
                height: 300,
                modal: true
            });
        })

        // 弹出父权限选择框
        $("#btn").click(function () {
            // 开启弹窗
            $("#ztree_dialog").dialog({
                title: "选择父权限",
                width: 200,
                height: 300,
                modal: true
            })

            //ztree的核心配置
            var setting = {
                data:{
                    key:{
                        name:"powerName"
                    },
                    simpleData:{
                        enable:true,
                        pIdKey:"pid"
                    }
                },
                view:{
                    //隐藏节点图标
                    showIcon:false
                },
                callback:{
                    onClick:function (event, treeId, treeNode) {
                        //判断是否为按钮级权限，如果点击的是按钮级权限，则提示该权限不能为父权限
                        if (treeNode.status == 4){
                            alert("该权限不能作为父权限");
                            return
                        }
                        if (treeNode.status == 1) {
                            $("#menu").html("子菜单权限");
                            $("#status").val(2);
                        }else if (treeNode.status == 2) {
                            $("#menu").html("按钮级权限");
                            $("#status").val(3);
                        }else if (treeNode.status == 3) {
                            $("#menu").html("子按钮权限");
                            $("#status").val(4);
                        }

                        $("#btn").html(treeNode.powerName);
                        $("#pid").val(treeNode.id);

                        // 关闭弹窗
                        $("#ztree_dialog").dialog("close");

                    }
                }
            };

            // 通过ajax查询数据库
            $.post("/power/ajaxPowerList",function (data) {
                //生成树形结构 参数1:选择要生成的地方 参数2:ztree的核心配置 参数3:json数据
                var zTreeObject = $.fn.zTree.init($("#ztree_div"), setting, data);
                // 展开所有节点
                zTreeObject.expandAll(true);
            },"json");

        });

    })
</script>
<!--添加权限弹出框 -->
<div id="dialog_div" style="display: none;">
    <form action="/power/addPower" method="post">
        权限名：<input name="powerName"/><br/>
        父权限：<button id="btn" type="button">无</button><br/>
        <input type="hidden" id="pid" name="pid" value="-1"/>
        路径：<input name="powerPath"/><br/>
        权限状态：<span id="menu">主菜单权限</span><br/>
        <input type="hidden" id="status" name="status" value="1"/>
        <button type="submit">添加</button>
    </form>
</div>

<!-- 父权限选择的弹出框 -->
<div id="ztree_dialog" style="display: none;">
    <!-- ztree展示的容器 -->
    <div id="ztree_div" class="ztree"></div>
</div>

</body>
</html>