<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen"/>
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen"/>

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.8.3.min.js"></script>
    <!-- jQuery Configuration -->
    <!--<script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!-- 添加弹出框的jquery插件 -->
    <script type="text/javascript" src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

    <!-- 添加树形结构插件 ztree -->
    <script type="text/javascript" src="resources/widget/zTree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="resources/widget/zTree/zTreeStyle/zTreeStyle.css">

</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox"/></th>
                        <th>编号</th>
                        <th>职位</th>
                        <th>角色别名</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="role : ${roles}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${role.id}">Lorem ipsum dolor</td>
                        <td th:text="${role.roleName}"><a href="#" title="title">Sit amet</a></td>
                        <td th:text="${role.roleAlias}">Lorem ipsum dolor</td>
                        <td th:text="${#dates.format(role.createTime,'yyyy-MM-dd')}">Consectetur time</td>
                        <td>
                            <!-- Icons --> <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit"/></a> <a
                                href="#" title="Delete">&nbsp;<img
                                src="resources/images/icons/cross.png" alt="Delete"/></a> <a
                                th:onclick="|updateRolePower(${role.id})|" title="Edit Meta">&nbsp;<img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta"/></a>
                        </td>
                    </tr>


                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <select name="dropdown">
                                    <option value="option1">Choose an action...</option>
                                    <option value="option2">Edit</option>
                                    <option value="option3">Delete</option>
                                </select> <a class="mybutton" id="open_dialog">添加职位</a>
                            </div>
                            <div class="pagination">
                                <a href="#" title="First Page">&laquo; First</a><a href="#"
                                                                                   title="Previous Page">&laquo;
                                Previous</a> <a href="#"
                                                class="number" title="1">1</a> <a href="#" class="number"
                                                                                  title="2">2</a> <a href="#"
                                                                                                     class="number current"
                                                                                                     title="3">3</a>
                                <a href="#" class="number" title="4">4</a> <a href="#"
                                                                              title="Next Page">Next &raquo;</a><a
                                    href="#"
                                    title="Last Page">Last &raquo;</a>
                            </div> <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->

<script>

    var roleid;
    var zTreeObject;

    //弹出添加职工的dialog
    $(function () {
        $("#open_dialog").click(function () {
            $("#dialog_div").dialog({
                title: "添加职位",
                width: 400,
                height: 300,
                modal: true
            });
        })
        $("#updateRolePower").click(function () {
            $("#rid").val(roleid);
            var pids = new Array();
            debugger
            var checkedNodes = zTreeObject.getCheckedNodes(true);
            for(var i = 0; i < checkedNodes.length; i++){
                pids.push(checkedNodes[i].id);
            }
            $("#pids").val(pids);
            $("#ztree_dialog").dialog("close");
        });
    })

    // 查看角色的权限
    function updateRolePower(rid) {
        roleid = rid;
        //ztree的核心配置
        var setting = {
            data: {
                key: {
                    name: "powerName"
                },
                simpleData: {
                    enable: true,
                    pIdKey: "pid"
                }
            },
            view: {
                //隐藏节点图标
                showIcon: false
            },
            // 设置复选框
            check: {
                enable: true,
                chkboxType: {"Y": "ps", "N": "s"}
            }
        };

        // 通过ajax获取权限并选中
        $.post("/power/ajaxPowerListByRid",{"rid":rid},function (data) {
            //生成树形结构 参数1:选择要生成的地方 参数2:ztree的核心配置 参数3:json数据
            zTreeObject = $.fn.zTree.init($("#ztree_div"), setting, data);
            // 展开所有节点
            zTreeObject.expandAll(true);
        }, "json");

        // 开启弹窗
        $("#ztree_dialog").dialog({
            title: "选择权限",
            width: 200,
            height: 300,
            modal: true
        });


    }
    // 获取修改后的权限信息到form表单
    /*function updateRolePower() {
        $("#rid").val(roleid);
        var pids = new Array();
        debugger
        var checkedNodes = zTreeObject.getCheckedNodes(true);
        for(var i = 0; i < checkedNodes.length; i++){
            pids.push(checkedNodes[i].id);
        }
        $("#pids").val(pids);
        $("#ztree_dialog").dialog("close");
    }*/

</script>
<!-- 代表一个弹出框 - 默认隐藏 -->
<div id="dialog_div" style="display: none;">
    <form action="/role/addRole" method="post">
        职位:<input name="roleName"/><br/>
        别名:<input name="roleAlias"/><br/>
        <button type="submit">添加</button>
    </form>
</div>

<!-- 权限选择的弹出框 -->
<div id="ztree_dialog" style="display: none;">
    <div id="ztree_div" class="ztree"></div>
    <form action="/role/updateRolePower" method="post">
        <input type="hidden" id="rid" name="rid" />
        <input type="hidden" id="pids" name="pids" />
        <!-- ztree展示的容器 -->
        <button type="submit" id="updateRolePower">修改</button>
    </form>
</div>

</body>
</html>